
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(HDBG1.jpg) no-repeat; /*This prevents the image from repeating across the full width and height of the element*/
    background-size: 200%;
}
.header{
    position:relative;
    width: 100%;
    background: black;
    }
.cta{
    float:right;
    position: relative;
    bottom: 50px;
    right:100px;
    }
button{
    padding:8px 20px;
    background-color: aquamarine;
    border:none;
    border-radius: 50px;
    cursor: pointer ;
    transition:all o.3s ease 0s;
}
button:hover{
    background-color: darkcyan;
}
.img1{
    position:relative;
    padding: 10px;
    left:100px;
    
}
.containtent{
    margin:auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    width:70%;
}
.containtent p{
    color: white;
}
.containtent img{
    width:75px;
    height: 75px;
    border-radius: 50%;
}
.containtent h3{
    position: relative;
    
}