
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("HDBG1.jpg"); /*This prevents the image from repeating across the full width and height of the element*/
    background-size: 100%;
}
.header{
    position:relative;
    width: 100%;
    background: black;
}

.cta{
    float:right;
    position: relative;
    bottom: 50px;
    right:40px;
}
.cta2{
    float:right;
    position: relative;
    bottom: 50px;
    right:80px;
}
.cta3{
    float:right;
    position: relative;
    bottom: 50px;
    right:120px;
}
.cta4{
    float:right;
    position: relative;
    bottom: 50px;
    right:160px;
}
.dropbtn {
    background-color: aquamarine;
    color: black;
    padding: 8px 20px;
    border: none;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00e6b8;
    min-width: 160px;
    z-index: 1;
    border-radius: 20px;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


.dropdown-content a:hover {background-color:  #00cca3;border-radius: 20px;}
 
.cta3:hover .dropdown-content {display: block;}

button{
    padding:8px 20px;
    background-color: aquamarine;
    border:none;
    border-radius: 50px;
    cursor: pointer ;
    transition:all o.3s ease 0s;
    }
button:hover{
    background-color: darkcyan;
            }
.img1{
    position:relative;
    padding: 10px;
    left:100px;
    }

.contentbox{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    border-radius: 20px;
    word-wrap: break-word; /*prevent text from overflowing from div box */
    overflow: scroll;
    border-style: solid;
    border-width: 6px;
    border-color: #009999;
    top: 80px;
    left: 160px;
}
.contentbox ul p{
    text-align: center;
    font-family: "Times New Roman";
    font-size: 27px;
}   

/*#name{
    color: black;
    position: relative;
    left:200px;
    bottom:55px;
    text-shadow: 2px 2px 2px white;
    font-size:28px;
}*/
.marquee1 {
     
    width:80vw;/*vw is define the size according to view window e.g change acc to size of display*/
    height:50px;
    color: tomato;
}
.marqueeContent{
    list-style:none;
    height: 100%;
    display:flex; /*to keep all the list elements in one line*/
    animation: scrolling 10s linear infinite;
}
@keyframes scrolling {
    0% { transform: translateX(80vw);}
    100% { transform: translateX(calc(-1*10vw*4));}
}
.marqueeContent li{
    display:flex;
    /*border: 1px solid teal;*/
    width:20vw;
    flex-shrink: 0;
    font-size: 20px;   /* rem??*/
}
.marqueeContent:hover{
    animation-play-state: paused;
}
/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: #006600;
  }
  
  /* mouse over link */
  a:hover {
    color: #003333;
  }
  .social{
      height : 150px;
      width: 100px;
      position: fixed;
      left:92%;
      bottom:300px;
}
.social ul li a{
    position: relative;
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    text align: center;
    box-sizing:border-box;
    border-radius: 50%;
    padding: 10px;
    text-decoration:none;
    box-shadow: 0 10px 15px black;
    background: linear-Gradient(0deg, ,#ddd , #fff);
    transition: .5s;
    color: #1e1236;
}

.social ul{
    line-height:300%;
}
.social ul li a:hover{
    box-shadow: 0 2px 5px white; 
}
.social ul li a .fa{
    width:30%;
    height:30%;
    background: linear-Gradient(0deg, ,#fff , #6e6b6e);
    border-radius: 50%;
    font-size:22px;
    transition: .5s;
}
.social ul li:nth-child(1) a:hover .fa{
    color: #4267B2;
}
.social ul li:nth-child(2) a:hover .fa{
    color: #E1306C;
}
.social ul li:nth-child(3) a:hover .fa{
    color: red;
}
.social ul li:nth-child(4) a:hover .fa{
    color: #4AC959;
}
.social ul li:nth-child(5) a:hover .fa{
    color: blue;
}

.partners ul  {
    display:flex;
    
  }
  .partners ul li img{
    margin: 10px 100px 10px 20%;
    display: block;
    
}
.partners ul li a{
    display: block;
}
.maintext{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    color: azure;
}
