
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open-sans', sans-serif;
    background-color: rgba(240,240,240,0.6);
}
.header{
    position:relative;
    width: 100%;
    height: 5rem;
    background-color: #588BAE;
    color: rgba(255,255,255,1.0);
}
.cta{
    float:right;
    position: absolute;
    bottom: 10%;
    right:7%;
}
.cta2{
    float:right;
    position: absolute;
    bottom: 10%;
    right:14%;
}



button{
    color: rgba(255,255,255,0.6);
    padding:8px 20px;
    background-color: #588BAE;
    border:none;
    border-radius: 5px;
    cursor: pointer ;
    transition:all o.3s ease 0s;
    }
button:hover{
    color: rgba(255,255,255,1.0);
            }



/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: #44ccaa;
  }
  


.text{
font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 40px;
}
/*.text{
    
    font-size: 60px;
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}*/
.cn{
  font-size: 20px;
  
  text-align: center;
}
.contactForm{
  text-align: center;
}
.contactlink{
  text-align: center;
}
.contactlink ul{
  position: absolute;
  display:flex;
  

}
.contactlink ul li{
  display:inline;
  padding-left: 10%;
  padding-right: 10%;
  
}
.contactlink ul li a{
  position: relative;
  width: 70px;
  height: 70px;
  background: white;
  display:block;
  text-align: center;
  margin: 0 50px;
  border-radius: 50%;
  padding: 10px;
  box-sizing:border-box;/* allow us to size the div without adding the padd of margin to its existing width and height*/
}
.contactlink ul li a .fa{
  width: 100%;
  height: 100%;
  line-height: 55px;
  font-size: 30px;
  
}
.contactlink ul li:nth-child(1) a:hover .fa{
  color: #4267B2;
}
.contactlink ul li:nth-child(2) a:hover .fa{
  color: #E1306C;
}
.contactlink ul li:nth-child(3) a:hover .fa{
  color: red;
}
.contactlink ul li:nth-child(4) a:hover .fa{
  color: #4AC959;
}

.containtent{
    margin:auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    width:70%;
    
}

.containtent img{
    width:75px;
    height: 75px;
    border-radius: 50%;
}
.containtent h3{
    position: relative;
    
}
footer h2{
  text-align: center;
}
footer {
  
  width: 100%;
  background-color: #588BAE;
  color: rgba(255,255,255,1.0);
  
  padding: 0px;
}
.Foot ul li img{
  width:75px;
  height: 75px;
  border-radius: 50%;
}
.Foot ul {
  
  display:flex;
  
}
.Foot ul li{
  padding-left: 10%;
  padding-right: 10%;
}
  
