body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(240,240,240,0.6);
    font-family: 'Open-sans', sans-serif;
    background-image: url("images/bgn.jpeg");
    background-size: 100%;
    background-repeat: repeat-y;
    background-blend-mode: soft-light;
    
}
.header{
    position:fixed;
    top: 0px;
    width: 100%;
    height: 5rem;
    background-color: #588BAE;
    color: rgba(255,255,255,1.0);
    z-index: 1;
}

.contact{
    float:right;
    position: absolute;
    bottom: 10%;
    right:7%;
}
.events{
    float:right;
    position: absolute;
    bottom: 10%;
    right:14%;
}
.calender{
    float:right;
    position: absolute;
    bottom: 10%;
    right:25%;
}

.home{
    float:right;
    position: absolute;
    bottom: 10%;
    right:37%;
}

.contact button{
    color: #e6e600;
}



button{
    color: rgba(255,255,255,0.6);
    padding:8px 20px;
    background-color: #588BAE;
    border:none;
    border-radius: 5px;
    cursor: pointer ;
    transition:all o.3s ease 0s;
    }
button:hover{
    color: rgba(255,255,255,1.0);
            }
.logo{
    
    width: 80%;
    left:4%;
    color: rgba(255,255,255,0.8);
    text-decoration: none;


    }

.logo img{
    float: left;
    position: relative;
    width: 300px;
    height: auto;
    left: 50px;
    top: 25px;
}


/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: #44ccaa;
  }
  


.text{
  position: relative;
  top: 60px;
font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 40px;
    background: -webkit-linear-gradient(#588BAE, #e6e600);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 1px black;

}
/*.text{
    
    font-size: 60px;
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}*/

iframe {
  position: relative;
  top: 25px;
opacity: 70%;

}
.cn{
  font-size: 20px;
  
  text-align: center;
}
.contactForm{
  text-align: center;
}
.contactlink{
  width: 100%;
  text-align: center;
}
.contactlink ul{
  padding-left: 0px;
  position: absolute;
  width: 100%;
  display:flex;
}
.contactlink ul li{
  display:inline;
  padding-left: 6%;
  padding-right: 6%;
  
}
.contactlink ul li a{
  position: relative;
  width: 70px;
  height: 70px;
  background: white;
  display:block;
  text-align: center;
  margin: 0 50px;
  border-radius: 50%;
  padding: 10px;
  box-sizing:border-box;/* allow us to size the div without adding the padd of margin to its existing width and height*/
}
.contactlink ul li a .fa{
  width: 100%;
  height: 100%;
  line-height: 55px;
  font-size: 30px;
  
}
.contactlink ul li:nth-child(1) a:hover .fa{
  color: #4267B2;
}
.contactlink ul li:nth-child(2) a:hover .fa{
  color: #E1306C;
}
.contactlink ul li:nth-child(3) a:hover .fa{
  color: red;
}
.contactlink ul li:nth-child(4) a:hover .fa{
  color: #4AC959;
}

.containtent{
    margin:auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    width:70%;
    
}

.containtent img{
    width:75px;
    height: 75px;
    border-radius: 50%;
}
.containtent h3{
    position: relative;
    
}

.Foot ul li img{
  width:75px;
  height: 75px;
  border-radius: 50%;
}
.Foot ul {
  
  display:flex;
  
}
.Foot ul li{
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
  
/* --------------------Footer Section------------------ */
footer {
    position: fixed;
    width: 100%;
    background-color: #588BAE;
    color: rgba(255,255,255,1.0);
    bottom: 0;
    left: 0;
    padding: 0px;
}
footer table{
    border-collapse: collapse;
    padding: 0px;
    border-spacing: 0;
    width: 90%;
    margin-left: 10%;
    
}
.partners{
    background-color: #588BAE;
    column-width: 25%;
}
.partners a img{
    position: relative; 
    width: 110px;
    height: auto;
    float: left;
    vertical-align: middle;
    }

