body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open-sans', sans-serif;
    background-color: rgba(240,240,240,1.0);
}
.header{
    position:relative;
    width: 100%;
    height: 5rem;
    background-color: #588BAE;
    color: rgba(255,255,255,1.0);
}
.logo {
    position: absolute;
    top:30%;
    left:6%;
    font-size: 30px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.cta{
    float:right;
    position: absolute;
    bottom: 10%;
    right:7%;
}
.cta2{
    float:right;
    position: absolute;
    bottom: 10%;
    right:14%;
}

button{
    color: rgba(255,255,255,0.6);
    padding:8px 20px;
    background-color: #588BAE;
    border:none;
    border-radius: 5px;
    cursor: pointer ;
    transition:all o.3s ease 0s;
    }
button:hover{
    color: rgba(255,255,255,1.0);
            }
.img1{
    position:relative;
    padding: 10px;
    left:100px;
    }

/* Body Section .......................................................................... 

iframe{
    position: absolute;
    width:1000px;
    height:500px; 
    overflow:auto;
    margin: 15px;
}


/* Social Section ......................................................................... */
.social{
      height : 150px;
      width: 100px;
      position: fixed;
      left:92%;
      bottom:300px;
}
.social ul li a{
    position: relative;
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    text-align: center;
    box-sizing:border-box;
    border-radius: 50%;
    padding: 10px;
    text-decoration:none;
    box-shadow: 0 10px 15px black;
    background: linear-Gradient(0deg, #ddd , #fff);
    transition: .5s;
    color: #1e1236;
}

.social ul{
    line-height:300%;
}
.social ul li a:hover{
    box-shadow: 0 2px 5px white; 
}
.social ul li a .fa{
    width:30%;
    height:30%;
    background: linear-Gradient(0deg, #fff , #6e6b6e);
    border-radius: 50%;
    font-size:22px;
    transition: .5s;
}
.social ul li:nth-child(1) a:hover .fa{
    color: #4267B2;
}
.social ul li:nth-child(2) a:hover .fa{
    color: #E1306C;
}
.social ul li:nth-child(3) a:hover .fa{
    color: red;
}
.social ul li:nth-child(4) a:hover .fa{
    color: #4AC959;
}
.social ul li:nth-child(5) a:hover .fa{
    color: blue;
}

/* Footer Section ............................................................................*/
/* Footer Section */
footer {
    position: absolute;
    width: 100%;
    background-color: #588BAE;
    color: rgba(255,255,255,1.0);
    bottom: 0;
    left: 0;
    padding: 0px;
}
footer table{
    border-collapse: collapse;
    padding: 0px;
    border-spacing: 0;
    width: 90%;
    margin-left: 10%;
    
}
.partners{
    background-color: #588BAE;
    column-width: 25%;
}
.partners a img{
    position: relative; 
    width: 110px;
    height: auto;
    float: left;
    vertical-align: middle;
    }
.partners2 a img{
    position: relative;
    width:120px;
    height: 50px;
    padding-left: 45%;
    padding-right: 45%;
}
